<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/main.css">
    <title>{{ title }} - Crook Morris</title>
  </head>
  <body>
    <div class="warning">Under construction!
    <a href="https://www.crookmorris.org.uk/">Visit our official website</a></div>
    <h1>
      {{ title }}
    </h1>
    <main>
      {{ content }}
    <main>
    <footer>
      <p>
        <a href="https://www.facebook.com/CrookMorrisKendal/">Facebook</a>
        &ndash;
        <a href="https://twitter.com/@CrookMorris">X</a>
        &ndash;
        <a href="https://www.instagram.com/crook_morris/">Instagram</a>
        &ndash;
        <a href="https://www.youtube.com/@crookmorris240">YouTube</a>
      </p>
    </footer>
  </body>
</html>