body, html, h1 {
    margin: 0;
    padding: 0;
}

html {
    --missing: cyan;
    --attention: #a00;
    --bg: #eee;
    --fg: #111;
    --link: #07b;
    --b1: #802;
    --b2: #060;
    --b1-fg: var(--b1);
    --b2-fg: var(--b2);
    --b1-dark: #401;
    --b2-dark: #030;
    background-color: var(--bg);
    line-height: 140%;
    font-family: sans-serif;
    color: var(--fg);
    --link-fg: #05b;
}

@media (prefers-color-scheme: dark) {
    html {
        --attention: #fc0;
        --bg: #110006;
        --b1-fg: #a24;
        --b2-fg: #393;
        --fg: #fff;
        --link-fg: #09f;
    }
}

body {
    --border-width: min(24px,2vw);
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14pt;
    letter-spacing: 0.02em;
    line-height: 140%;
}

h1 {
    padding: calc(2vw + 2vh) 0 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--b1-fg);
}

.divider {
    max-width: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider .small {
    max-width: 30em;
}

h3 {
    margin: auto;
    max-width: 45rem;
    padding-block: 1em 0.5em;
}

dt {
    color: var(--b1-fg);
    font-size: 120%;
    margin-bottom: 0.5em;
}

dd + dt {
    margin-top: 1em;
}

p, dd, ul, .p {
    margin: auto;
    max-width: 45rem;
}

main > *, footer .flex {
    padding: clamp(0.5rem,3vw,1rem);
}

main > figure, main > div.block-embed, main > h2 {
    padding: 0;
}

dd {
    margin-left: 1em;
}

a {
    color: var(--link-fg);
}

figure, div.block-embed {
    margin: 1rem 0 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

figure img {
    max-width: 100%;
    max-height: max(20rem,50vh);
}

figure:nth-child(even) img,
div.block-embed:nth-child(even) iframe {
    border: 0.5rem solid var(--b1-dark);
}

figure:nth-child(odd) img,
div.block-embed:nth-child(odd) iframe {
    border: 0.5rem solid var(--b2-dark);
}

hr {
    border: 0px solid transparent;
    border-top: 0.5rem solid var(--b1);
    border-bottom: 0.5rem solid var(--b2);
}

a.no-underline {
    text-decoration: none;
}
