body, html, h1 {
    margin: 0;
    padding: 0;
}

.warning {
    text-align: center;
    font-weight: bold;
    padding: 0.5em;
    border-bottom: 0.5em solid #f00;
}

html {
    --missing: cyan;
    --bg: #eee;
    --fg: #111;
    --link: #07b;
    --b1: #802;
    --b2: #060;
    --b1-fg: var(--b1);
    --b2-fg: var(--b2);
    --b1-dark: #401;
    --b2-dark: #030;
    background-color: var(--bg);
    line-height: 140%;
    font-family: sans-serif;
    color: var(--fg);
}

@media (prefers-color-scheme: dark) {
    html {
        --bg: #110006;
        --b1-fg: #a24;
        --b2-fg: #393;
        --fg: #fff;
        --link-fg: #09f;
    }
}

body {
    --border-width: min(24px,2vw);
    border-left: var(--border-width) solid var(--b1);
    border-right: var(--border-width) solid var(--b2);
}

h1 {
    padding: calc(5vw + 5vh) 0 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--b1-fg);
}

.divider {
    max-width: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider .small {
    max-width: 30em;
}

h2 {
    padding: 2em 0 1em 0;
    text-align: center;
    color: var(--b2-fg);
    font-size: clamp(150%, 2vw, 36pt);
}

h3 {
    margin: auto;
    max-width: 45rem;
    padding: 1em 0 0.5em 0;
}

dt {
    color: var(--b1-fg);
    font-size: 120%;
    margin-bottom: 0.5em;
}

dd + dt {
    margin-top: 1em;
}

p, dd, ul {
    margin: auto;
    max-width: 45rem;
    text-align: justify;
}

dd {
    margin-left: 1em;
}

a {
    color: var(--link-fg);
}

figure, div.block-embed {
    margin: 1rem 0 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

figure img {
    max-width: 100%;
}

figure:nth-child(even) img,
div.block-embed:nth-child(even) iframe {
    border: 0.5rem solid var(--b1-dark);
}

figure:nth-child(odd) img,
div.block-embed:nth-child(odd) iframe {
    border: 0.5rem solid var(--b2-dark);
}

footer {
    padding: 2rem 0 5rem 0;
}